<div class="modal-dialog">
    <div class="modal-content">
        <form action="{{ path("intersa_dons_disable_don",{'id': don.id}) }}" method="POST">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="confirmDeleteLabel">Désactivation du don</h4>
        </div>
        <div class="modal-body">
            Veuillez choisir le motif de désactivation du don : #{{ don.id }}?
            <br />
            <label for="motif"><label for="motif" class="required">Motif de désactivation du don :</label></label>
            <SELECT name="motif"  class="task_field form-control " >
                {% for motif in motifs %}
                    <option value="{{ motif.id }}">{{ motif.name }}</option>
                {% endfor %}
            </SELECT>
            <br />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            <input type="submit" class="btn btn-danger" value="Désactiver le don" ></a>
        </div>
        </form>
    </div>
</div>