<div class="modal-dialog">
    <div class="modal-content">
        <form action="{{ path("intersa_donateur_enable",{'id': donateur.id}) }}" method="POST">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="confirmDeleteLabel">Réactivation du contact</h4>
            </div>
            <div class="modal-body">
                Voulez vous vraiment réactiver le contact : #{{ donateur.id }}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <input type="submit" class="btn btn-success" value="Réactiver le contact" ></a>
            </div>
        </form>
    </div>
</div>