.inputwithimagerturki{

    background-image: transparent url('images/add-button50x50.jpg');
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 5px;
    padding-left: 50px;
    padding-right: 50px
    /*padding-left: 0px*/
   




}


