<meta charset="utf-8"><meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<style type="text/css">#footer{
position:fixed;
bottom:0;
left:0;
height:100px;
width: 100%;
}
</style>
<div style="text-align: left;"><img src="http://www.coline-en-re.com/logo-temporaire.png" style="width: 150px;" /></div>

<div style="text-align: left;">
<p><span style="font-size: 14px;"><strong>loi n&deg;2008-776 du 4 ao&ucirc;t 2008 - D&eacute;cret n&deg;2009-158 du 11 f&eacute;vrier<br />
Enregistr&eacute; le 8 juillet 2009 - Pr&eacute;fecture des Hauts de Seine.<br />
Publication au journal officiel en date du 29 ao&ucirc;t</strong></span><br />
<span style="font-size: 22px;"><span style="color: rgb(165, 42, 42);"><strong>Re&ccedil;u fiscal Dons r&eacute;guliers re&ccedil;us en&nbsp;</strong></span><span style="color: rgb(178, 34, 34);"><strong>2016</strong></span></span><br />
<span style="font-size: 14px;">Articles 200-1.b et 238 bis-1.a du code g&eacute;n&eacute;ral<br />
des imp&ocirc;ts Mod&egrave;le obligatoire</span><br />
<span style="font-size: 12px;"><strong>(art.87 de la loi n&deg;81-1160 du 30.12.1981)</strong></span></p>
</div>

<div style="text-align: left; margin-bottom: 50px; margin-left: 60%;"><span style="font-size: 14px;">{{nom_entreprise}}&nbsp;{{civilite_donateur}}&nbsp;{{prenom_donateur}}&nbsp;{{nom_donateur}}<br />
{{adresse_donateur}}</span></div>

<div style="width: 100%; font-size: 18px; margin-bottom: 50px;">
<p><strong>Dons aux Oeuvres</strong><br />
Conform&eacute;ment aux dispositions de l&#39;article 200-1 du code g&eacute;n&eacute;ral des imp&ocirc;ts, les dons ou versements effectu&eacute;s au profit d&#39;oeuvres ou d&#39;organismes d&#39;int&eacute;r&ecirc;t g&eacute;n&eacute;ral ayant un caract&egrave;re culturel, philanthropique, social, humanitaire ou concourant &agrave; la mise en valeur du patrimoine artistique ou la diffusion de la culture, ouvrent droit &agrave; une r&eacute;duction d&#39;imp&ocirc;t.</p>

<p><strong>Particuliers</strong><br />
Conform&eacute;ment aux dispositions des articles 200-1.b du code g&eacute;n&eacute;ral des imp&ocirc;ts, les dons et versements effectu&eacute;s par des personnes priv&eacute;es ouvrent droit &agrave; une r&eacute;duction d&#39;imp&ocirc;t sur le revenu de 75% dans la limite de 521&euro; (revenus 2010) et, au-del&agrave;, de 66% des sommes vers&eacute;es dans la limite de 20% du revenu net imposable (au-del&agrave; de 20%, l&#39;exc&eacute;dent est reportable sur les cinq ann&eacute;es suivantes).</p>

<p><strong>Entreprises</strong><br />
Pour les entreprises, l&#39;article 238 bis-1.a du code g&eacute;n&eacute;ral des imp&ocirc;ts ouvre droit &agrave; une r&eacute;duction d&#39;imp&ocirc;t sur le revenu ou d&#39;imp&ocirc;t sur les soci&eacute;t&eacute;s de 60% des sommes vers&eacute;es dans la limite de 5 pour mille du chiffre d&#39;affaires HT. Au-del&agrave;, ou en cas d&#39;exercice d&eacute;ficitaire, un report est possible sur les cinq exercices suivants.</p>

<p><strong>B&eacute;n&eacute;ficiaire</strong><br />
Coline en R&eacute;, 5 rue Jean Carri&egrave;res, 75007 Paris. Fonds de dotation destin&eacute; &agrave; recueillir des fonds au profit d&#39;associations caritatives d&eacute;di&eacute;es &agrave; la sant&eacute;, protection et &eacute;ducation de l&#39;enfant en danger. &nbsp;</p>

<h3 class="couleur-intersa" style="margin-top: 5px;"><span style="font-size: 18px;"><strong>Le b&eacute;n&eacute;ficiaire reconna&icirc;t avoir re&ccedil;u &agrave; titre de don :</strong></span></h3>

<table border="1" cellpadding="0" cellspacing="0" style="width: 100%;">
	<tbody>
		<tr>
			<td>
			<table align="left" border="0" cellpadding="0" cellspacing="1" style="width: 100%;">
				<tbody>
					<tr>
						<td>
						<p><strong><span style="line-height: 20.8px;">Donateur : </span></strong></p>

						<p><i style="line-height: 20.8px;">Votre n&deg; donateur&nbsp;</i><span style="line-height: 20.8px;">: {{donateur_id}}</span><br />
						{{nom_entreprise}} <span style="line-height: 20.8px;">{{civilite_donateur}}&nbsp;{{prenom_donateur}}&nbsp;{{nom_donateur}}</span><br style="line-height: 20.8px;" />
						<span style="line-height: 20.8px;">{{adresse_donateur}}</span></p>
						</td>
						<td>
						<p><strong style="line-height: 28.8px; font-size: 18px;">Num&eacute;ro d&#39;ordre du re&ccedil;u :&nbsp;</strong>{{recu_id}}<br style="line-height: 28.8px; font-size: 18px;" />
						<strong style="line-height: 28.8px; font-size: 18px;">Montant cumul&eacute; :</strong><span style="line-height: 28.8px; font-size: 18px;"> ***</span>{{pa_somme}}<strong style="line-height: 28.8px; font-size: 18px;"> &euro;</strong><span style="line-height: 28.8px; font-size: 18px;">***</span><br style="line-height: 28.8px; font-size: 18px;" />
						<strong style="line-height: 28.8px; font-size: 18px;">Code origine :</strong><span style="line-height: 28.8px; font-size: 18px;">&nbsp;{{code_activite}}</span><br style="line-height: 28.8px; font-size: 18px;" />
						<span style="line-height: 28.8px; font-size: 18px;"><b>Date du don :&nbsp;</b>&nbsp;CUMUL </span>2016<br />
						<strong style="line-height: 28.8px; font-size: 18px;">Date d&#39;&eacute;mission du re&ccedil;u :</strong><span style="line-height: 28.8px; font-size: 18px;">&nbsp;{{date_envoi}}</span><br style="line-height: 28.8px; font-size: 18px;" />
						<strong style="line-height: 28.8px; font-size: 18px;">Versement en :&nbsp;</strong><span style="line-height: 28.8px; font-size: 18px;">{{mode_don}}</span></p>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</div>

<table align="left" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
	<tbody>
		<tr>
			<td style="border-color: rgb(255, 255, 255); text-align: left;">
			<p style="line-height: 20.8px;">Le pr&eacute;sident :</p>

			<p style="line-height: 20.8px;"><img alt="" src="/var/www/coline_en_re_pro/web/upload/1/signature_coline.jpg" /></p>
			</td>
			<td style="border-color: rgb(255, 255, 255); text-align: left;">
			<table align="right" border="0" cellpadding="0" cellspacing="0" style="width: 600px; color: rgb(255, 255, 255);">
				<tbody>
					<tr>
						<td style="border-color: rgb(255, 255, 255); text-align: left;"><img alt="test" src="/var/www/coline_en_re_pro/web/upload/1/IMG_9287.jpg" style="width: 180px; height: 120px; line-height: 20.8px; float: left;" /><br />
						&nbsp;</td>
						<td style="border-color: rgb(255, 255, 255); width: 60%; text-align: left;">
						<p><span style="font-family: comic sans ms,cursive;"><span style="font-size: 24px;"><em><strong><span style="color: rgb(178, 34, 34);">Merci ! vous avez vraiment aid&eacute;&nbsp; des enfants en danger !</span></strong></em></span></span></p>

						<p style="text-align: justify; line-height: 12px;"><span style="font-size: 12px;"><span style="color: rgb(51, 0, 153);"><span style="font-family: comic sans ms,cursive;"><em>Les concerts Coline en R&eacute;, le Concours des Virtuoses du Coeur et Boitadon sont des programmes de l&rsquo;Association caritative Coline en R&eacute;. Depuis 2003, Coline en R&eacute; travaille pour que des enfants en danger soient prot&eacute;g&eacute;s, soign&eacute;s et &eacute;duqu&eacute;s en France et dans les pays du sud.</em></span></span></span><br />
						<span style="font-size: 18px;"><span style="line-height: 15px;"><strong><span style="color: rgb(178, 34, 34);">www.coline-en-re.com</span></strong></span></span></p>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>