<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
        table {
            border-collapse:collapse;
            width:90%;
        }
        th {
            background-color: #EEEEEE;
        }
        th, td {
            border:1px solid black;
            width:20%;
        }
        td {
            text-align:center;
        }
        caption {
            font-weight:bold
        }
    </style>
</head>
<body style="width:100%;margin:0px;margin-top:5px;">

{{ html|raw }}

<!--/div-->
</body>
</html>
